<a mat-list-item routerLink="." class="list" routerLink="dashboard" routerLinkActive="active">
    <mat-icon class="mr-10">accessible_forward</mat-icon>Dashboard
</a>

<a mat-list-item routerLink="." class="list" routerLink="google-map" routerLinkActive="active">
    <mat-icon class="mr-10">accessible_forward</mat-icon>Google Map
</a>
<a mat-list-item routerLink="." class="list" routerLink="charts" routerLinkActive="active">
    <mat-icon class="mr-10">accessible_forward</mat-icon>Charts
</a>
<a mat-list-item routerLink="." class="list" routerLink="paypal" routerLinkActive="active">
    <mat-icon class="mr-10">accessible_forward</mat-icon>Paypal
</a>
<a mat-list-item routerLink="." class="list" routerLink="ccavenue" routerLinkActive="active">
        <mat-icon class="mr-10">accessible_forward</mat-icon>Ccavenue
    </a>
    <a mat-list-item routerLink="." class="list" routerLink="payumoney" routerLinkActive="active">
            <mat-icon class="mr-10">accessible_forward</mat-icon>Payumoney
        </a>
    
<!-- ,,,,,,,,,,,,,,,,,,,,,,, -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-icon class="mr-10">settings_applications</mat-icon> Forms
    </mat-expansion-panel-header>
    <a mat-list-item routerLink="r-form" class="list" routerLinkActive="active">
        <mat-icon class="mr-10">accessible_forward</mat-icon> Reactive Forms
    </a>
    <a mat-list-item routerLink="r-d-form" class="list" routerLinkActive="active">
        <mat-icon class="mr-10">accessible_forward</mat-icon> Dynamic Reactive Forms
    </a>
    <a mat-list-item routerLink="t-form" class="list" routerLinkActive="active">
        <mat-icon class="mr-10">accessible_forward</mat-icon>Template Driven Forms
    </a>
</mat-expansion-panel>
<!-- ,,,,,,,,,,,,,,,,,,,,,,,,,,,,, -->

<!-- ,,,,,,,,,,,,,,,,,,,,,,, -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-icon class="mr-10">settings_applications</mat-icon> Image
    </mat-expansion-panel-header>
    <a mat-list-item routerLink="image-upload" class="list" routerLinkActive="active" >
        <mat-icon class="mr-10">accessible_forward</mat-icon> Image Upload
    </a>
    <a mat-list-item routerLink="image-crop-upload" class="list" routerLinkActive="active" >
        <mat-icon class="mr-10">accessible_forward</mat-icon> Image Crop Upload
    </a>
    <a mat-list-item routerLink="image-multi-upload" class="list" routerLinkActive="active" >
        <mat-icon class="mr-10">accessible_forward</mat-icon> Image Multiple Upload
    </a>

</mat-expansion-panel>
<!-- ,,,,,,,,,,,,,,,,,,,,,,,,,,,,, -->
<!-- ,,,,,,,,,,,,,,,,,,,,,,, -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-icon class="mr-10">settings_applications</mat-icon> menu
    </mat-expansion-panel-header>
    <a mat-list-item routerLink="." class="list">
        <mat-icon class="mr-10">accessible_forward</mat-icon> menu list item 1
    </a>
    <a mat-list-item routerLink="." class="list">
        <mat-icon class="mr-10">alarm_on</mat-icon> menu list item 2
    </a>
</mat-expansion-panel>
<!-- ,,,,,,,,,,,,,,,,,,,,,,,,,,,,, -->
<a mat-list-item routerLink="." class="list">
    <mat-icon class="mr-10">accessible_forward</mat-icon> menu list item 1
</a>
<a mat-list-item routerLink="." class="list">
    <mat-icon class="mr-10">alarm_on</mat-icon> menu list item 2
</a>
<a mat-list-item routerLink="." class="list">
    <mat-icon class="mr-10">assignment_return</mat-icon> menu list item 3
</a>
<a mat-list-item routerLink="." class="list">
    <mat-icon class="mr-10">contactless</mat-icon> menu list item 4
</a>
<a mat-list-item routerLink="." class="list">
    <mat-icon class="mr-10">flight_land</mat-icon> menu list item 5
</a>