<div class="container" fxLayout="row">
    <div fxFlex="auto" class="header" fxLayoutAlign="space-around center">
        <h1 class="mat-display-2">{{title}}</h1>
    </div>
</div>


<div class="outer">
    <div class="container" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card>
            <!-- {{userProfile.value |json}} -->
            <!-- =========================================== -->
            <form [formGroup]="userProfile" (ngSubmit)="updateProfile()">
                <!-- ................. -->
                <p>
                    <mat-form-field class="form-group" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput id="name" class="form-control" type="text" formControlName="username"
                            name="username">
                        <mat-hint *ngIf="username?.touched && username?.errors?.required">This field is required
                        </mat-hint>
                    </mat-form-field>
                </p>
                <!-- ................. -->
                <p>
                    <mat-form-field class="form-group" appearance="outline">
                        <mat-label for="email">Email</mat-label>
                        <input matInput id="email" type="email" class="form-control" formControlName="email"
                            name="email">
                        <mat-hint *ngIf="email?.touched && email?.errors?.required">This field is required </mat-hint>
                        <mat-hint *ngIf="email?.touched && email?.invalid && !email?.errors?.required">Invalid Email
                        </mat-hint>
                    </mat-form-field>
                </p>
                <!-- ................. -->
                <p>
                    <mat-form-field class="form-group" appearance="outline">
                        <mat-label for="password">Password</mat-label>
                        <input matInput id="password" class="form-control" type="password" formControlName="password"
                            name="password">
                        <mat-hint *ngIf="password?.touched && password?.errors?.required">This field is required
                        </mat-hint>
                    </mat-form-field>
                </p>
                <!-- ................. -->
                <p>
                    <mat-form-field class="form-group" appearance="outline">
                        <mat-label for="c-password">Confirm Password</mat-label>
                        <input matInput id="c-password" class="form-control" type="password" formControlName="cpassword"
                            name="cpassword">
                        <mat-hint *ngIf="cpassword?.touched && cpassword?.errors?.required">This field is required
                        </mat-hint>
                        <mat-hint
                            *ngIf="cpassword?.touched && (cpassword?.errors?.invalidPss) && !cpassword?.errors?.required ">
                            Password must be equal</mat-hint>
                    </mat-form-field>
                </p>
                <!-- ................. -->
                <p>

                    <mat-form-field class="form-group" appearance="outline">
                        <mat-label for="dob">Date of birth</mat-label>
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" class="form-control"
                            formControlName="dob">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-hint *ngIf="dob.touched && dob?.errors?.required"> This field is required</mat-hint>
                        <mat-hint *ngIf="dob.touched && dob?.errors?.invalidDate && !dob?.errors?.required">Invalid Date
                            Range </mat-hint>
                    </mat-form-field>
                </p>
                <!-- ................. -->
                <p>
                    <mat-form-field class="form-group" appearance="outline">
                        <mat-label for="dob">Url</mat-label>
                        <input matInput id="dob" class="form-control" type="url" formControlName="url" name="url">
                        <mat-hint class="form-text text-right text-danger" *ngIf="url.touched && url?.errors?.required">
                            This field
                            is Required</mat-hint>
                        <mat-hint class="form-text text-right text-danger"
                            *ngIf="url.touched && url?.errors?.validUrl && !url?.errors?.required">Invalid Url
                        </mat-hint>
                    </mat-form-field>
                </p>
                <!-- ................. -->
                <p>
                    <mat-form-field class="form-group" appearance="outline">
                        <mat-label for="category">Category</mat-label>
                        <mat-select id="category" class="form-control" formControlName="category">
                            <mat-option value="">Select</mat-option>
                            <mat-option value="GEN">General</mat-option>
                            <mat-option value="OBC">OBC</mat-option>
                            <mat-option value="SC">SC</mat-option>
                            <mat-option value="ST">ST</mat-option>
                        </mat-select>
                        <mat-hint class="form-text text-right text-danger"
                            *ngIf="category.touched && category?.errors?.required">This field is required </mat-hint>
                    </mat-form-field>
                </p>
                <!-- ................. -->

                <fieldset class="form-group">
                    <legend>Gender</legend>
                    <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="gender" class="right">
                        <mat-button-toggle value="male" aria-label="Text align left" > Male
                        </mat-button-toggle>
                        <mat-button-toggle value="Female" aria-label="Text align left"> Female </mat-button-toggle>
                    </mat-button-toggle-group>
                </fieldset>
                <!-- ------------- -->
                <br> <br>
                <ng-container formGroupName="hobby">
                    <fieldset class="form-group">
                        <legend>Hobby</legend>
                        <br> <span>Reading Book </span>
                        <mat-slide-toggle class="right" formControlName="reading_book" value="true"></mat-slide-toggle>
                        <br><br><span> Watching Moove </span>
                        <mat-slide-toggle class="right" formControlName="watching_moove" value="true">
                        </mat-slide-toggle>
                        <br><br><span>Swimming </span>
                        <mat-slide-toggle class="right" formControlName="swimming" value="true"></mat-slide-toggle>
                    </fieldset>
                    <mat-hint class="hint" *ngIf="hobby.dirty && hobby.errors?.invalidHobby"> Please sellect atleast one
                        hobby</mat-hint>
                </ng-container>
                <!-- ------------- -->
                <br> <br>
                <ng-container formGroupName="time">
                    <fieldset class="form-group">
                        <legend>Time</legend>
                        <mat-form-field appearance="outline">
                            <mat-label>Min</mat-label>
                            <input matInput id="minTime" class="form-control" type="time" formControlName="minTime">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="right">
                            <mat-label>max </mat-label>
                            <input matInput id="maxTime" class="form-control" type="time" formControlName="maxTime">
                        </mat-form-field>
                    </fieldset>
                    <mat-hint class="hint" *ngIf="time.dirty && time.errors?.invalidTime">Invalid Time range</mat-hint>
                </ng-container>
                <!-- ------------- -->
                <br><br>
                <fieldset class="form-group">
                    <legend>Range</legend>
                    <mat-slider thumbLabel tickInterval="100" color="primary" min="1" max="100" formControlName="range">
                    </mat-slider>
                </fieldset>
                <br>
                <!-- ------------- -->
                <p>
                    <mat-form-field class="form-group" appearance="outline">
                        <mat-label for="my-input matInput">Color</mat-label>
                        <input matInput id="my-input matInput" class="form-control" formControlName="color"
                            type="color">
                        <mat-hint *ngIf="color.touched && color?.errors?.required">This field is required </mat-hint>
                    </mat-form-field>
                </p>
                <!-- ------------- -->
                <p>
                    <mat-form-field class="form-group" appearance="outline">
                        <mat-label for="about">About</mat-label>
                        <textarea matInput class="form-control" id="about" class="form-control"
                            formControlName="about"> </textarea>
                        <mat-hint *ngIf="about.touched && about?.errors?.required">This field is required </mat-hint>
                    </mat-form-field>
                </p>
                <!-- ------------- -->
                <button mat-flat-button color="primary" [disabled]="!userProfile.valid" type="submit">Primary</button>

            </form>
            <!-- ============================================ -->
        </mat-card>
    </div>

</div>