<div class="container" fxLayout="row">
    <div fxFlex="auto" class="header" fxLayoutAlign="space-around center">
        <h1 class="mat-display-2">{{title}}</h1>
    </div>
</div>


<div class="outer">
    <div class="container" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card>
            <div class="charts" >
                <canvas baseChart class="cnavas"
                  [datasets]="scatterChartData"
                  [options]="scatterChartOptions"
                  [chartType]="scatterChartType">
                </canvas>
              </div>             
                    
        </mat-card>
    </div>

</div>