<div class="container" fxLayout="row">
    <div fxFlex="auto" class="header" fxLayoutAlign="space-around center">
        <br>
        <h1 class="mat-display-2">{{title}}</h1>
        <br>
    </div>
</div>

   <div class="wrap theme-alternate" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card>
            <!-- {{userProfile.value |json}} -->
            <!-- =========================================== -->
            <form [formGroup]="userProfile" (ngSubmit)="updateProfile()">
                <!-- ................. -->
                <p>
                    <mat-form-field class="form-group" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput id="name" class="form-control" type="text" formControlName="username"
                            name="username">
                        <mat-hint *ngIf="username?.touched && username?.errors?.required">This field is required
                        </mat-hint>
                    </mat-form-field>
                </p>
                <p>
                    <!-- ................. -->            
                    <mat-form-field class="form-group" appearance="outline">
                        <mat-label for="email">Email</mat-label>
                        <input (keyup)="emailExist(email)" matInput id="email" type="email" class="form-control" formControlName="email"
                            name="email">
                        <!-- <mat-hint *ngIf="email?.touched && email?.errors?.required">This field is required </mat-hint>
                        <mat-hint *ngIf="email?.touched && email?.invalid && !email?.errors?.required">Invalid Email  </mat-hint> -->
                        <mat-hint *ngIf="emailErr">{{emailErr}}</mat-hint>
                    </mat-form-field>
                    <!-- ................. -->
                </p>
                <p>

                    <!-- ................. -->
                    <mat-form-field class="form-group" appearance="outline">
                        <mat-label for="password">Password</mat-label>
                        <input matInput id="password" class="form-control" type="password" formControlName="password"
                            name="password">
                        <mat-hint *ngIf="password?.touched && password?.errors?.required">This field is required
                        </mat-hint>
                    </mat-form-field>
                    <!-- ................. -->
                </p>
                <p>
                    <!-- ................. -->
                    <mat-form-field class="form-group" appearance="outline">
                        <mat-label for="c-password">Confirm Password</mat-label>
                        <input matInput id="c-password" class="form-control" type="password" formControlName="cpassword"
                            name="cpassword">
                        <mat-hint *ngIf="cpassword?.touched && cpassword?.errors?.required">This field is required
                        </mat-hint>
                        <mat-hint
                            *ngIf="cpassword?.touched && (cpassword?.errors?.invalidPss) && !cpassword?.errors?.required ">
                            Password must be equal</mat-hint>
                    </mat-form-field>
                </p> <!-- ................. -->
               
                <button mat-flat-button color="primary" [disabled]="!userProfile.valid" type="submit">Primary</button>

            </form>
            <!-- ============================================ -->
        </mat-card>
    </div>
